.modal {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.2);
  transition: opacity 0.25s ease;
  z-index: 2;
}

.modelInner {
  width: 300px;
}
